

.root{
    .text{
        font-size: 16px !important;
        color: rgba(0, 0, 0, 0.65);
        font-weight: 600;
        text-align: center;
        line-height: 1.5;
    }

    .link{
        font-size: 16px !important;
        color: #1890FF;
        font-weight: 600;
    }
}