.root {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
}

.table {
    margin-top: 16px;
    height: 80vh;
    // flex: 1;
}


// 索引示意图
.indexRoot {
    width: 180px;
    margin: 180px auto;

    img {
        width: 100%;
    }

    .progress {
        width: 100%;
    }

    .text {
        font-weight: 600;
    }
}

.settings {
    position: absolute;
    bottom: 24px;
    right: 24px;

    .total {
        font-size: 14px !important;
        color: rgba(0, 0, 0, 0.65);
    }

    .settingsIcon {
        cursor: pointer;
    }
}

//搜索为空
.searchNull {
    margin-top: 160px;

    img {
        width: 180px;
        height: 180px;
    }

    .text {
        font-size: 14px !important;
        color: rgba(0, 0, 0, 0.65);
        font-weight: 600;
    }
}

.contact{
    margin-top: 24px;
}