.root {
    // display: flex;
    // flex-direction: column;
    // height: 100%;
}




// 索引示意图
.indexRoot {
    width: 180px;
    margin: 180px auto;

    img {
        width: 100%;
    }

    .progress {
        width: 100%;
    }

    .text {
        font-weight: 600;
    }
}

.settings {
    width: 64px;
    height: 64px;
    cursor: pointer;

    .text{
        color: rgba(0, 0, 0, 0.65);
    }

    .settingsIcon {
        width: 32px;
        height: 32px;
        color: rgba(0, 0, 0, 0.65);
    }
}

.total {
    display: block;
    position: absolute;
    bottom: 24px;
    right: 24px;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.65);
}

//搜索为空
.searchNull {
    margin-top: 160px;

    img {
        width: 180px;
        height: 180px;
    }

    .text {
        font-size: 14px !important;
        color: rgba(0, 0, 0, 0.65);
        font-weight: 600;
    }
}

.contact {
    margin-top: 24px;
}