.root {
    padding: 16px;
    border-radius: 16px !important;
    border: 1px solid #F0F2F5;

    .label {
        font-size: 14px !important;
        font-weight: 600;
        color: #00000065;
    }
}