.root {
    padding: 16px;
    border-radius: 16px !important;
    box-shadow: 0px 2px 4px rgba(25, 33, 61, 0.25);
    border: 1px solid #F0F2F5 !important;
    width: 100% !important;
    box-sizing: border-box;
    max-height: 400px;
    overflow-y: auto;
}

.searchResultItem{
    width: 100%;
    cursor: pointer;

    img{
        width: 48px;
        height: 48px;
        border-radius: 8px;
    }
}