.root {
    padding: 8px;
    border-radius: 16px !important;
    box-shadow: 0px 2px 4px rgba(25, 33, 61, 0.25);
    border: 1px solid #F0F2F5 !important;
    width: 100% !important;
    box-sizing: border-box;
    max-height: 400px;
    overflow-y: auto;
}

.searchResultItem {
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: border-box;
    transition: background-color 0.2s ease;
    padding: 8px;
    margin-bottom: 4px;

    .name {
        font-weight: bold !important;
        color: rgba(0, 0, 0, 0.85) !important;
        max-width: 340px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    img {
        width: 48px;
        height: 48px;
        border-radius: 8px;
    }

    // 选中状态样式（包含hover和keyboard选中）
    &.selected {
        background-color: rgba(0, 0, 0, 0.05) !important;


        .MuiTypography-root {
            color: white !important;
        }
    }
}