@import "tailwindcss";

/* 自定义滚动条 */
.scrollbar-thin {
  scrollbar-color: rgb(0 0 0 / 25%) transparent;
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 25%);
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-button {
  display: none !important;
}

/* 全局基礎樣式 - 使用 Tailwind 的 @layer base */
@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    color-scheme: light dark;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-color: #FAFDFC;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }


}

/* 應用特定樣式 */
#root {
  /* padding: 16px; */
}

/* 自定義工具類（如果需要的話） */
@layer utilities {
  .logo {
    height: 6em;
    padding: 1.5em;
    transition: filter 300ms;
    will-change: filter;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }
}