.dialog {

  :global(.MuiDialog-paper) {
    border-radius: 16px;
  }

  .dialogTitle {
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    gap: 4px;

    .text {
      font-size: 18px;
      font-weight: 700;
    }

    .icon {
      width: 16px;
      height: 16px
    }

    img {
      width: 16px;
      height: 16px;
    }

    .close {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .dialogContent {
    padding: 16px 24px !important;
    display: flex;
    flex-direction: column;
  }

  .dialogActions {
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .tips {
      color: rgba(255, 255, 255, 0.45) !important;
      font-size: 12px;
    }
  }
}

//标题icon
.iconContainer {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &>* {
    width: 16px !important;
    height: 16px !important;
    font-size: 16px !important;
  }
}