


.root {
    padding: 16px;
    border-radius: 16px !important;
    box-shadow: 0px 2px 4px rgba(25, 33, 61, 0.25);
    border: 1px solid #F0F2F5 !important;
    width: 100% !important;
    box-sizing: border-box;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}